body{
    margin: 0;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;

}

/* for first section */

.healty-food{
    display: flex;
  
}
.top-banner{
    background-image: url("./images/shapes/Group\ 8446.png");
    background-repeat: no-repeat;width: 100%;


}
.half-width{
    width: 50%;
    padding-top: 6%;
    padding-left: 6%;
}

h1{
    font-size:40px;
}


.half-width span{
    color: orange;
}

img{
    width: 100%;
    
}


button{
    background-image: linear-gradient(tomato,orange);
    padding: 10px 40px;
    border-radius:50px;
    margin-top: 30px;
    border: none;
}
button a{
    color: white;
    font-size: 23px;
    text-decoration: none;
}

#order-right{
    padding-bottom:70px;
    
}
#order-right img{
    border-radius:50%;
}

/* firs section end */


/* secound section */
.about-me{
    display: flex;

}


.about-banner{
    background-image: url("./images/shapes/7.png");
    background-repeat: no-repeat;
    width: 100%;

}
#about-me{
    padding-right: 200px;
}

.recipies{
    text-align: center;
    margin: 0px 200px;
   
}
.recipies-container{
    display: flex;

}
#recip{
    padding: 0px 50px ;
}
.recipies-item{
    margin-left: 2%;
    box-shadow: 10px 10px 30px gray;
    padding: 10px;
    border-radius: 10px;
}

.optional{
    box-shadow: 10px 10px 30px gray;
    display: flex;
    margin-top: 50px;
    border-radius: 10px;
   

}
.optional img{
    width: 60px;
    border-radius: 50%;
}
.optional-item{
    padding:8px 60px ;
}

.booking{
    display: flex;
   

}



input {
   
    border-radius: 20px;
    margin-top: 20px;
    padding: 14px;
  
}
textarea{
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;

  
}
form{
    box-shadow: 10px 10px 30px gray;
    margin-right: 30px;
   text-align: center;
   border-radius: 20px;
   padding-bottom: 10px;

    
}
#booking-form{
    padding-top: 40px;
}


footer{
    background-color: rgb(29, 24, 24);
    height: 150px;
    text-align: center;
    padding-top: 10px;
    margin-top: 70px;
}
footer span{
    color: orange;
}
footer p{
    color: white;
}
